@font-face {
  font-family: "PRETENDARD-REGULAR";
  src: url("../public/fonts/PRETENDARD-REGULAR.OTF");
}

@font-face {
  font-family: "PRETENDARD-SEMIBOLD";
  src: url("../public/fonts/PRETENDARD-SEMIBOLD.OTF");
}

body {
  margin: 0;
}